.element__button-trash {
  margin: 0;
  padding: 0;
  background: none;
  background-image: url(../../../images/trash-button-active.svg);
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__button-trash:hover {
  opacity: 0.6;
}
