.profile__button-edit {
  background-image: url(../../../images/button-edit.svg);
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
  background-color: #000000;
  justify-self: start;
  align-self: center;
  border: 1px solid white;
  cursor: pointer;
  grid-area: profile__button-edit;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1047px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
