.popup__big-card-text {
  margin: 0 auto;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
